
{% extends 'homebase.html.twig' %}

{% block title %}About US | {{setting[0].title}}{% endblock %}
{% block keywords %}{{setting[0].keywords}}{% endblock %}
{% block description %}{{setting[0].description}} {% endblock %}

{% block body %}

    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title text-center">About <strong>Us</strong></h2>
                    {{setting[0].aboutus | raw}}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div><!--/#contact-page-->


{% endblock %}

