{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Edit Profile{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                {{ include('user/usermenu.html.twig') }}
                <div class="blog-post-area">
                    <h2 class="title text-center">Edit Profile Page</h2>
                    <div class="single-blog-post">
                        <div class="post-meta">

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}


    <div class="pager-area">
        <ul class="pager pull-right">

        </ul>
    </div>
    </div>
    </div>
    </div></div></div></section>

    {% endblock %}
